/deployment/terraform/.terraform/
/deployment/terraform/*.tfstate
/deployment/terraform/*.tfvars
/deployment/terraform/*.hcl
/deployment/terraform/*.tfvars.json
/deployment/terraform/*.tfstate
/deployment/ansible/inventory/*
/deployment/ansible/ansible.log
/deployment/ansible/wg_peer.conf
/deployment/ansible/collections/ansible_collections/*
/deployment/ansible/*.pem
*.pub
terraform.tfstate.backup
*.env
*.pem
.terraform.lock.hcl
.terraform/
terraform.tfstate.d/
*.tfstate
*.tfstate.backup
*.sh
*.toml
*.lock
